*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    user-select: none;
}

.alan{
    display: flex;
}

.temsili-kart{
    display: flex;
    gap:5px;
}

.kredi-karti-maskesi{
    width: 300px;
    height: 150px;
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    background: rgb(2,0,36);
    background: linear-gradient(216deg, rgba(2,0,36,0.5) 0%, rgba(9,9,121,0.5) 35%, rgba(0,212,255,0.5) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    border-radius: 10px;
}

.kart-numarasi, .kart-sayisi{
    transition: all ease 0.3s;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    top: -3px;
    color: #ffffff;
}

.kkalan{
    width: 200px;
    height: 20px;
    border: 2px solid #ffffff;
    padding-top: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    right: 30px;
}

.kartholder{
    position: absolute;
    left:30px;
    bottom:15px;
    transition: all ease 0.5s;
    border: 2px solid #ffffff;
    width: 150px;
    height: 25px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    border-radius: 10px;
    overflow: hidden;
}

.kartholder span, .skt span, .skt{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all ease 0.5s;
    text-align: left;
    color: #ffffff;
}

.skt{
    border: 2px solid #ffffff;
    width: 70px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    bottom: 15px;
}

.kredi-karti-maskesi img{
    width: 30px;
    position: absolute;
    left: 30px;
    opacity: .8;
}

.kredi-karti-maskesi h1{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all ease 0.5s;
    text-align: left;
    color: #ffffff;
    position: absolute;
    top:15px;
}

.bgwblr{
    width: 100%;
    height: 100vh;
    background: url(img/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ccinfo{
    z-index: 998;
    background-color: rgba(0,0,0,.6);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap:1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 12rem;
}

.ccinfo input{
    width: 300px;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all ease 0.5s;
    text-align: left;
    color: #ffffff;
    background: none;
    outline: none;
    border: 2px solid #ffffff;
    border-radius: 30px;
    text-align: center;
}

.ccinfo .submit{
    background-color: white;
    color:#252525;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all ease 0.5s;
    cursor: pointer;
}

.ccinfo .kart-ay-giris, .ccinfo .kart-yil-giris{
    width: 60px;
}

.ccinfo .kart-cvv-giris {
    width: 160px;
}

.listcc{
    display: flex;
    gap: 5px
}

.infojs{
    margin-bottom: 1rem;
}